emcee
astropy
future
h5py #for emcee 
matplotlib
numpy
requests
scipy

git+https://github.com/pyNFFT/pyNFFT.git

# ipython

git+https://github.com/achael/eht-imaging.git

#git+https://github.com/liamedeiros/ehtplot.git
